.d1{
    width: 950px;
    margin:10px;
    margin-bottom: 10px;
}
.d2{
    margin-left: -40px;
    margin-top: 20px;
}
.d3{
    width: 970px;
    margin-left: -230px;
    margin-top: -10px;
}
.d4{
    width:970px;
    margin-left: -205px;
    margin-top: 10px;
}
.d5{
    width: 80%;
    margin-left: -205px;
    margin-top: 10px;
}
.d6{
    margin-top: 20px;
    width: 970px;
    margin-left: -205px;
}